[user]
	name = Dominic Egginton
	email = dominic.egginton@gmail.com
	signingKey = 4C79CE4F82847A9F
[github]
	user = dominicegginton
[core]
	editor = nano
	hooksPath = .githooks
	excludesfile = ~/.gitignore
[alias]
	graph = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
[gpg]
	program = gpg
[commit]
	gpgsign = true
[pull]
	ff = only
[rebase]
	autosquash = true
[credential]
	helper = store
[color]
	ui = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[lfs]
	pruneverifyremotealways = true
[init]
	defaultBranch = main
[includeIf "gitdir:~/dev/arup-group/**"]
	path = .arup.gitconfig