backgrounds/Backgrounds/coast-mountains.jpg filter=lfs diff=lfs merge=lfs -text
backgrounds/Backgrounds/snow-mountains.jpg filter=lfs diff=lfs merge=lfs -text
backgrounds/Backgrounds/nepal-mountains.jpg filter=lfs diff=lfs merge=lfs -text
