!  ui colors
*.foreground: #C9D1D9
*.background:   #000000
*.cursorColor:  #C9D1D9
! black
*.color0  : #0D1117
*.color8  : #161B22
! red
*.color1  : #FF7B72
*.color9  : #FFA198
! green
*.color2  : #3FB950
*.color10 : #56D364
! yellow
*.color3  : #D29922
*.color11 : #E3B341
! blue
*.color4  : #58A6FF
*.color12 : #79C0FF
! magenta
*.color5  : #BC8CFF
*.color13 : #D2A8FF
! cyan
*.color6  : #76E3EA
*.color14 : #B3F0FF
! white
*.color7  : #B1BAC4
*.color15 : #B1bAC4