set NERDTree
set surround
set multiple-cursors
set commentary
set argtextobj
set textobj-entire
set ReplaceWithRegister
set showmode
set so=5
set incsearch
set nu
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep
set idearefactormode=visual
let mapleader = "\<Space>"
map <leader>fo <Action>(GotoFile)
map <leader>fg <Action>(FindInPath)
map <leader>te :NERDTreeToggle
