[user]
  name = Dominic Egginton
  email = dominic.egginton@gmail.com
  signingKey = 4C79CE4F82847A9F
[github]
  user = dominicegginton
[core]
  editor = nvim
  hooksPath = .githooks
  excludesfile = ~/.gitignore
  autocrlf = input
[alias]
  graph = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
[init]
  defaultBranch = main
[gpg]
  program = gpg
[commit]
  gpgsign = true
  template = ~/.gitmessage
[tag]
  gpgsign = true
[pull]
  ff = only
[push]
  autoSetupRemote = true
[rebase]
  autosquash = true
[credential]
  helper = store
[color]
  ui = auto
[merge]
  tool = nvimdiff
[mergetool]
  prompt = false
[mergetool "nvimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $BASE
[diff]
  tool = nvimdiff
[difftool]
  prompt = false
[difftool "nvimdiff"]
  cmd = nvim -d $LOCAL $REMOTE
[http]
  postBuffer = 524288000
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[lfs]
  pruneverifyremotealways = true
[includeIf "gitdir:~/dev/arup-group/**"]
  path = .arup.gitconfig
